<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Educación IT -</title>
  </head>
  <body>
    <%- include('partials/header') %><!-- Incorporar el parcial de la cabecera -->

    <main><%- body %></main>

    <%- include('partials/footer') %>
    <!-- Incorporar el parcial del footer -->
  </body>
</html>
